<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <form method="POST">
  <div align="center" class="jumbotron" style="color:#fff">

       <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.gif?size=512" class="rounded-circle panel">
       <h3 style="color:#fff"><%=user.username%>#<%=user.discriminator%></h3>
       <h5 style="color:#fff">Set Profile</h5>

    <div><i aria-hidden="true"></i>Your name:</div>
    <div>
    <input type="text" style="text-align: center;" name="name" id="name" required="required">
    </div>
    <br>

    <div><i aria-hidden="true"></i>Your age:</div>
    <div>
    <input type="text" style="text-align: center;" name="age" id="age">
    </div>
    <br>

    <div><i aria-hidden="true"></i>Biography:</div>
    <div>
    <input type="text" style="text-align: center;" name="bio" id="bio" required="required">
    </div>
</div>
    <br>

    <div><i aria-hidden="true"></i>Your favorite coding language:</div>
    <div>
     <div class="select-style">
        <select id="favlib" name="favlib" required="required">
            <option disabled selected>Your favorite coding language</option>
            <option value="Yok">Yok</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Node.JS">Node.JS</option>
            <option value="HTML">HTML</option>
            <option value="Lua">Lua</option>
            <option value="PHP">PHP</option>
            <option value="Python">Python</option>
            <opiton value="Java">Java</opiton>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Ruby">Ruby</option>
        </select>
    </div>
</div>
    <br>

    <div><i aria-hidden="true"></i>Coding languages you know:</div>
    <div>
    <div class="select-style">
            <select id="libs" name="libs" required="required" multiple>
                <option disabled selected>Select the coding languages you know.</option>
                <option value="Yok">Yok</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Node.JS">Node.JS</option>
                <option value="HTML">HTML</option>
                <option value="Lua">Lua</option>
                <option value="PHP">PHP</option>
                <option value="Python">Python</option>
                <opiton value="Java">Java</opiton>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Ruby">Ruby</option>
            </select>
        </div>
      <p>
            <a style="color:red">Not:</a><a style="color:lightgrey"> multiple labels can be selected. If you are on the computer, hold down the <i> ctrl </i> key and select the labels.</a>
            </p>
    </div>
    <br>

       <div style="width: 100%; text-align: center; margin-top: 20px;">
        <button style="border-radius: 100px; background-color:#00a1ff" type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Save<i aria-hidden='true'></i></button>
    </div>
</div>
    </form>
</div></div>
<% include ./ek/footer %>
