<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  
	 <div class="jumbotron">
		<div align="center">
			<img src="https://cdn.discordapp.com/avatars/<%=bot.user.id%>/<%=bot.user.avatar%>.png" width="180px" height="180px" class="d-inline-block align-top rounded-circle" alt=""><br><br>
      <h3><b>Discord4Bots</b></h3>
					<p style="font-size:15px; color:#E9E9E9">Discord4Bots is a Website there you can add our own discord bot then get more to use it!<br> A secure system where you can host your rapidly developed bots.</p><br>
					<a href="/about" class="btn btn-default" style="background-color:#353535; color:#DDDDDD">Click For More</a>
    </div>
    </div>

  <h3 align="center" style="color:#DF7A45">
    <strong>Certified Bots
    </strong></h3>
  <div align="center"><p>There are certified bots in the system.<br>All bots <a href="/bots">Clicking here</a> You can see.<br>(The bots are ranked proportionally according to the votes!)</p></div>
  
  <div align="center">
    <input type="search" placeholder="Search bot" id="Search" name="Search">
    <br>
    <div class="select-style">
    <select id="tag select">
      <option disabled selected>Choose a label.</option>
      <option value="Close filter">Close filter</option>
      <option value="Moderation">Moderation</option>
      <option value="Music">Music</option>
      <option value="Settings">Settings</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Web Panel">Web Panel</option>
    </select>
    </div>

    <p style="color:#DDDDDD">
      <a style="color:red">Not:</a> You can search for bots by typing the bot name, library, short description, owner name and tags. <br> You can search for bots by selecting the bots' tags. 
    </p>
    
  </div>
  
  <div class="row">
    
    <% if (bot.ayar.has('bots')) { %>
  <% const sorted = Object.keys(bot.ayar.fetch('bots')).sort((a, b) => { return (bot.ayar.fetch(`bots.${b}.vote`) || 0) - (bot.ayar.fetch(`bots.${a}.vote`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('bots')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('bots')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`bots.${idd}.status`) === true) { %>
    <% if (bot.ayar.fetch(`bots.${idd}.status`) === "Approved") { %>
      <% if (bot.ayar.has(`bots.${idd}.certificate`) === true) { %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg botcard" data-auctions="1-1" style="background-color:#fff; width:16rem;">
     <div align="center" class="card-img">
         <a href="/bot/<%=idd%>"><img src="<%=bot.ayar.fetch(`bots.${idd}.avatar`)%>" class="card-img-top" alt="Bot Avatar"></a>
      <br><br><a style="color:#F0BD36"><img src="https://cdn.discordapp.com/emojis/522886304615366676.png" width="30px" height="30px"></a><br>   
       <div class="badge badge-primary"><strong style='color: white;'>Votes: </strong><span style='color:whitesmoke;text-transform: none;'><%=bot.ayar.fetch(`bots.${idd}.vote`)||0%></span></div>
                    <div class="badge badge-success"><%=bot.ayar.fetch(`bots.${idd}.library`)%></div>
                            </div>
                            <div align="center" style="background-color:#fff" class="card-block">
                                <div class="card-title">
                                  <h4><a style="color:#222"><%=bot.useful.seg(bot.ayar.fetch(`bots.${idd}.name`), 5)%></a></h4>
                                <h6 style="font-size:17px; color:#222"><%=bot.ayar.fetch(`bots.${idd}.owner`)%></h6></div>         
                        
                              <p class="card-text" style="color:#222"><%=bot.ayar.fetch(`bots.${idd}.ShortDesc`)%></p>
                               <hr>
                              <h6 align="center"><a href="/bot/<%=idd%>" style="font-size:20px; color:#222; background-color:#fff">View</a> <b style="color:grey">|</b> 
                                <a href="https://discordapp.com/oauth2/authorize?client_id=<%=idd%>&scope=bot&permissions=8" style="font-size:20px; color:#222; background-color:#fff">Invite</a></h6>
                            </div>
                       </div><br>
      </div>
      <% } %>
    <% } %>
    <% } %>
   <% } %>
    <% } else { %>
    <div align="center">
      <h5 align="center" style="color:#ECECEC">
      Sorry, There is no Discord4Bots in System Right Now!
      </h5>
    </div>
    <% } %>
</div></div></div>

<script>
$(document).ready(function(){
 $("#Search").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });  });

  //etiket filtresi
  $("#tag select").change(function(){
    var value = $(this).val();
    if (value === 'noneFilter') {
      window.location.reload(true);
      return
    }
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function(){
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  })
  ;
});
</script>
<% include ./ek/footer %>