<%- include('ek/header') %>

  <div align="center">
      <div class="jumbotron">
        <% for (var i = 0; i < Object.keys(bot.profile); i++) { %>
          <% var id = Object.keys(bot.profile)[i] %>
          <% if (bot.profile[id]) { %>
        <img src="<%=bot.profile[id].avatar%>" class="rounded-circle">
        <br>
        <a href="/user/<%=id%>" class="btn btn-default" style="background-color:#333; color:#fff"><%=bot.profil[id].tag%> Open Your Profile Page!</a>
        <br>
        <a href="/user/<%=id%>/profile" class="btn btn-default" style="background-color:#333; color:#fff"><%=bot.profil[i].tag%> Open Your Profile Page!</a>
        <br><br>
          <% } %>
        <% } %>
      </div>
  </div>

<%- include ./ek/footer %>